Repository exercism/javascript, pull requests merged in 2025-06, with the labels that each got.

#2657 Concept: object destructuring
  concepts/array-destructuring/about.md
  concepts/object-destructuring/.meta/config.json
  concepts/object-destructuring/about.md
  concepts/object-destructuring/introduction.md
  concepts/object-destructuring/links.json
  config.json
  exercises/concept/elyses-destructured-enchantments/.docs/hints.md
  exercises/concept/elyses-destructured-enchantments/.docs/instructions.md
  exercises/concept/elyses-destructured-enchantments/.docs/introduction.md
  exercises/concept/elyses-destructured-enchantments/.meta/design.md
  exercises/concept/elyses-destructured-enchantments/.meta/exemplar.js
  exercises/concept/elyses-destructured-enchantments/enchantments.js
  exercises/concept/elyses-destructured-enchantments/enchantments.spec.js
Labels: x:module/concept, x:module/concept-exercise, x:type/content

#2663 Appointment Times: Add more tests to discourage bad implementations
  exercises/concept/appointment-time/appointment-time.spec.js
Labels: x:action/improve, x:module/concept-exercise, x:type/content

#2665 Elyses Destructured Enchantments: Prevent not following the instructions
  exercises/concept/elyses-destructured-enchantments/.meta/exemplar.js
  exercises/concept/elyses-destructured-enchantments/enchantments.js
  exercises/concept/elyses-destructured-enchantments/enchantments.spec.js
Labels: x:action/improve, x:module/concept-exercise, x:type/content

#2664 Train Driver: Prevent not following the instructions
  exercises/concept/train-driver/.meta/exemplar.js
  exercises/concept/train-driver/train-driver.js
  exercises/concept/train-driver/train-driver.spec.js
Labels: x:action/improve, x:module/concept-exercise, x:type/content

#2668 Update tests complex numbers
  exercises/practice/complex-numbers/.meta/config.json
  exercises/practice/complex-numbers/.meta/tests.toml
  exercises/practice/complex-numbers/complex-numbers.spec.js
Labels: x:action/sync, x:module/practice-exercise, x:type/content

#2671 Updating `instructions.append.md` to address the skipped test
  exercises/practice/pythagorean-triplet/.docs/instructions.append.md
Labels: x:action/improve, x:module/practice-exercise, x:type/content

#2674 Train Driver: Prevent deleting object property
  exercises/concept/train-driver/train-driver.spec.js
Labels: x:action/improve, x:module/concept-exercise, x:type/content

#2676 Concept: update promises content
  concepts/promises/about.md
  concepts/promises/introduction.md
Labels: x:action/improve, x:module/concept, x:type/content

#2678 Various doc updates
  concepts/closures/introduction.md
  exercises/concept/bird-watcher/.docs/instructions.md
  exercises/concept/coordinate-transformation/.docs/introduction.md
  exercises/concept/custom-signs/.docs/instructions.md
  exercises/concept/elyses-analytic-enchantments/.docs/introduction.md
  exercises/concept/elyses-enchantments/.docs/instructions.md
  exercises/concept/elyses-enchantments/.docs/introduction.md
  exercises/concept/factory-sensors/.docs/instructions.md
  exercises/concept/freelancer-rates/.docs/instructions.md
  exercises/concept/freelancer-rates/.docs/introduction.md
  exercises/concept/fruit-picker/.docs/instructions.md
  exercises/concept/fruit-picker/.docs/introduction.md
  exercises/concept/high-score-board/.docs/introduction.md
  exercises/concept/lasagna/.docs/introduction.md
  exercises/concept/poetry-club-door-policy/.meta/exemplar.js
Labels: x:action/improve, x:module/concept-exercise, x:type/content

#2682 Fixing optional test issue
  exercises/practice/reverse-string/.meta/config.json
Labels: x:action/fix, x:module/practice-exercise, x:size/small

#2684 Update train-driver.js
  exercises/concept/train-driver/train-driver.js
Labels: x:action/proofread, x:size/tiny

#2695 Sync toml file
  exercises/practice/prime-factors/.meta/tests.toml
Labels: x:action/sync, x:module/practice-exercise, x:size/small
